target/*
.settings/*
.classpath
.project
build
.gradle
.idea
/target
*.iml
*.ipr
*.iws
*.ids
classes
out
doc
gradlew
gradlew.bat
gradle-wrapper.jar
gradle-wrapper.properties
rebel*
logs
application-dev.properties
